.background{
    height: 100vh;
    background-image: linear-gradient(45deg, transparent 20%, black 25%, transparent 25%),
                      linear-gradient(-45deg, transparent 20%, black 25%, transparent 25%),
                      linear-gradient(-45deg, transparent 75%, black 80%, transparent 0),
                      radial-gradient(gray 2px, transparent 0);
                      backdrop-filter: blur(3px);

    background-size: 30px 30px, 30px 30px;
}

.linktext{
    display: flex;
    border-style: solid;
    border-color: goldenrod;
    text-decoration: none;
    border-width: 2%;
    color: rgb(0, 0, 0);
    padding-left: 30px;
    padding-right:30px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.togglebutton{
    border-style: solid;
    border-color: rgb(26, 61, 16);
    border-width: 2px;
    background-color: rgb(168, 160, 148);
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
}

.togglebutton:hover{
    opacity: 75%;
}
.linktext:hover{
    opacity : 75%;
    color: rgb(22, 95, 95);
}

.textstyle{
    font-size: large;
    font-weight: 100;
    color: rgb(0, 0, 0);
}

.linkstyle{
    flex-wrap: wrap;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    list-style: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content:space-around;
    background-color:rgb(168, 160, 148);
    border-color: rgb(26, 61, 16);
    border-style: solid;
    border-width: 5px;
    padding: 16px 16px 16px 16px;
}

.socialLinks{
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    border-style: solid;
    background-color: rgb(168, 160, 148);
    border-width: 3px;
    border-color: rgb(26, 61, 16);
    padding-top: 2%;
    padding-bottom: 2%;
}

.socialsimg{
    width: 70px;
    height: 80px;
    display: flex;
    justify-content: left;
}

.socialsimg:hover{
    opacity: 75%;
}

.aboutmepic{
    width : 20%;
    height : 45%;
    float :left;
    padding-right: 2%;
}

.aboutmecontent{
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.schoolspic{
    width: 15%;
    height: 15%;
    float: left;
    padding-right: 2%;
    display: flex;
    justify-content: left;
}

.schoolspic:hover{
    opacity: 75%;
}